<% provide(:title, 'Editing Question') %>
<h1><%= yield(:title) %></h1>

<!-- % = render 'form', question: @ question % -->

<%= form_with(model: @question, local: true) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation"class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control", rows: "3", placeholder: "Add text here..." %>
  </div>

 

  <div class="btn-group" role="group" aria-label="Show buttons">
    <%= link_to 'Back', [@topic, :questions], class: "btn btn-secondary" %>
	<%= link_to 'Show', @question, class: "btn btn-secondary" %>
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>