<% provide(:title, 'Questions') %>

<h1>Questions for <small class="text-muted"><%= @topic.name %></small></h1>

<p class="lead">
  <%= @topic.description %>
</p>

<%= will_paginate(@questions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<% if @questions.count > 0 %>
<table class="table">
  <thead>
    <tr>
	  <th>#</th>
      <th>Questions</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each.with_index(1) do |question, i| %>
      <tr>
	    <td scope="row"><%= i+@offset%></td>
		<td><%= link_to question.text, question_path(question, :page => params[:page]) %></td>
        <td>
		  <div class="btn-group" role="group" aria-label="Show buttons">
		    <%= link_to 'Show', question_path(question, :page => params[:page]), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Edit', edit_question_path(question, :page => params[:page]), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
	      </div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate(@questions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<br>



<div class="btn-group" role="group" aria-label="Show buttons">
	  <%= link_to 'Back', topics_path, class: "btn btn-secondary" %>
	  <!-- %= link_to 'New Question', new_question_path(:topic_id => @topic), class: "btn btn-secondary" -->
	  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addNewQuestionModal">New question</a>
</div>
	
<!-- Add new question Modal -->
<%= render 'add_new_question_modal', topic: @topic %>
