<h1>New Question</h1>

<%= form_with(model: [ @topic, @topic.questions.build ], local: true) do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', [@topic, :questions] %>
