<% provide(:title, 'User') %>
<h1><%= yield(:title) %></h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= render 'api_keys', user: @user %>
<%= render 'add_new_api_key_modal', user: @user %>

<div class="btn-group" role="group" aria-label="Show buttons">
  <%= link_to 'Back', users_path, class: "btn btn-secondary" %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addNewApiKeyModal">Add new api key</a>
</div>

